<!-- appointment.component.html -->
<div class="app-container">
  <h1>Appointments</h1>
  <button *ngIf="isUserAdmin()" class="btn btn-add" (click)="addAppointment()">Add Appointment</button>
  <div *ngIf="appointments.length; else noAppointments">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>CNE</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments">
          <td>{{ appointment.nom }}</td>
          <td>{{ appointment.prenom }}</td>
          <td>{{ appointment.cne }}</td>
          <td>
            <button class="btn btn-info" (click)="editAppointment(appointment.id)">Update</button>
            <button class="btn btn-danger" style="margin-left: 10px;" (click)="cancelAppointment(appointment.id)">Cancel</button>
            <button class="btn btn-info" (click)="viewAppointment(appointment.id)">View</button>
            <button class="btn btn-info" (click)="verifyAppointment(appointment.id)">Verify</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noAppointments>
    <p>No appointments found.</p>
  </ng-template>
</div>
