<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Confirm Dialog</title>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./confirmation-dialog.component.css">
</head>
<body>
<div class="confirm-dialog-container">
  <h2 class="dialog-title">Confirm</h2>
  <div class="dialog-content">
    <p>{{ data.message }}</p>
  </div>
  <div class="dialog-actions">
    <button class="btn btn-yes" [mat-dialog-close]="true">Yes</button>
    <button class="btn btn-no" [mat-dialog-close]="false">No</button>
  </div>
</div>
</body>
</html>
