<!-- electoralparty.component.html -->
<div class="electoral-party-container">
  <h1>Electoral Parties</h1>
  <button *ngIf="isUserAdmin()" class="btn btn-add" (click)="addElectoralParty()">Add Electoral Party</button>
  
  <div *ngIf="votingStarted && (userHasVoted$ | async)" class="alert alert-success">
    <p><strong>You have already voted</strong></p>
  </div>
  
  <ul class="electoral-party-list">
    <li *ngFor="let party of parties">
      {{ party.name }}
      <button class="btn btn-details" (click)="viewElectoralPartyDetails(party.id)">Details</button>
      <button *ngIf="isUserAdmin()" class="btn btn-edit" (click)="editElectoralParty(party.id)">Edit</button>
    </li>
  </ul>
</div>
