<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Appointment</title>
  <link rel="stylesheet" href="./add-appointment.component.css">
</head>
<body>
<div class="add-appointment-container">
  <h1>Add appointment</h1>
  <form (ngSubmit)="onSubmit()"  #appointmentForm="ngForm">
    <div class="form-field">
      <label for="nom">Last Name:</label>
      <input type="text" id="nom" name="nom" placeholder="Enter last name" [(ngModel)]="appointment.nom" required>
    </div>
    <div class="form-field">
      <label for="prenom">First Name:</label>
      <input type="text" id="prenom" name="prenom" placeholder="Enter first name" [(ngModel)]="appointment.prenom" required>
    </div>
    <div class="form-field">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="Enter email" [(ngModel)]="appointment.email" required>
    </div>
    <div class="form-field">
      <label for="appointment">Appointment Date:</label>
      <input type="datetime-local" id="appointment" name="appointment" [(ngModel)]="appointment.appointmentTime" required>
    </div>
    <div class="form-field">
      <label for="cne">CNE:</label>
      <input type="text" id="cne" name="cne" placeholder="Enter CNE" [(ngModel)]="appointment.cne" required>
    </div>
    <div class="form-field">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Enter password" [(ngModel)]="appointment.password" required>
    </div>
    <button type="submit" class="btn btn-signup" [disabled]="!appointmentForm.valid">add appointment</button>
  </form>
</div>
</body>
</html>
