<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AtlasVoteGate</title>
  <link rel="stylesheet" href="./home.component.css">
</head>
<body>
<div class="container">
  <header>
    <h1>AtlasVoteGate</h1>
  </header>
  <main>
    <section>
      <h2>Bienvenue sur AtlasVoteGate</h2>
      <hr>
      <h1 *ngIf="!getVotingState() || getVotingEnded()">Le parti gagnant : {{ electroParty.name }}</h1>
      <div *ngIf="!getVotingState() || getVotingEnded()">
        <h1>Statistiques des partis électoraux</h1>
        <ul>
          <li *ngFor="let party of electoralParties | keyvalue">
            {{ party.key }}: {{ party.value }}
          </li>
        </ul>
      </div>
      <p >Explorez la frontière de la technologie de vote.</p>
    </section>
  </main>
  
  <footer>
    <p>© 2024 AtlasVoteGate</p>
  </footer>
</div>
</body>
</html>
