<!DOCTYPE html>
<html>
<head>
  <title>Connexion</title>
  <link rel="stylesheet" href="./signup.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="surface-card">
  <div class="header">
    <h1>Create your Account</h1>
    <p>Already have an account? <a href="/login">Login here!</a></p>
  </div>
  <div class="card">
    <form (ngSubmit)="onSubmit()" #appointmentForm="ngForm">
      <div class="form-group">
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" placeholder="Enter your name" [(ngModel)]="appointment.nom" required>
      </div>
      <div class="form-group">
        <label for="prenom">Prénom:</label>
        <input type="text" id="prenom" name="prenom" placeholder="Enter your first name" [(ngModel)]="appointment.prenom" required>
      </div>
      <div class="form-group">
        <label for="cni">CNI:</label>
        <input type="text" id="cni" name="cni" placeholder="Enter your CNI" [(ngModel)]="appointment.cne" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" [(ngModel)]="appointment.email" required>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" [(ngModel)]="appointment.password" required>
      </div>
      <div class="form-group">
        <label for="appointment">Date de Rendez-Vous:</label>
        <input type="datetime-local" id="appointment" name="appointment" [(ngModel)]="appointment.appointmentTime" required>
      </div>
      <button type="submit" class="btn btn-signup">SignUp</button>
    </form>
  </div>
</div>
</body>
</html>
