<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page de Vote</title>
  <link rel="stylesheet" href="./vote.component.css">
</head>
<body>
<div class="container">
  <header>
    <h1>AtlasVoteGate</h1>
  </header>
  <main>
    <section>
      <h2>Page de Vote</h2>
      <hr>
      
      <!-- Boutons de gestion du vote -->
      <div class="vote-buttons">
        <button (click)="lancerVote()">Lancer Vote</button>
        <button (click)="mettrePause()">Mettre en Pause</button>
        <button (click)="resumerVote()">Resumer Vote</button>
        <button (click)="terminerVote()">Terminer Vote</button>
      </div>
      
    </section>
  </main>
  <footer>
    <p>© 2024 AtlasVoteGate</p>
  </footer>
</div>
</body>
</html>
