<div>
  <h2>Vote Panel</h2>
  <div *ngIf="!votingStarted">
    <button (click)="startVotingProcess()">Start Voting</button>
  </div>
  <div *ngIf="votingStarted || votingStarted === undefined">
    <button *ngIf="votingStarted" (click)="endVote()">Clear Voting Start Time</button>

    <p *ngIf="votingStartTime">Voting Started At: {{ votingStartTime | date }}</p>
    <p *ngIf="votingEndTime">Voting Ends At: {{ votingEndTime | date }}</p>
    <div *ngIf="votingStarted">
      <p *ngIf="remainingTime > 0">Time remaining: {{ remainingTime | date:'HH:mm:ss' }}</p>
      <p *ngIf="remainingTime <= 0">Voting period has ended.</p>
    </div>
  </div>
</div>
