<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ajouter Utilisateur</title>
  <link rel="stylesheet" href="./add-utilisateur.component.css">
</head>
<body>
<!-- add-utilisateur.component.html -->
<div class="add-user-container">
  <h1>Add New User</h1>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <label for="nom">Nom:</label>
      <input type="text" id="nom" formControlName="nom" placeholder="Enter last name">
    </div>
    <div class="form-field">
      <label for="prenom">Prénom:</label>
      <input type="text" id="prenom" formControlName="prenom" placeholder="Enter first name">
    </div>
    <div class="form-field">
      <label for="login">Nom d'Utilisateur:</label>
      <input type="text" id="login" formControlName="login" placeholder="Enter login">
    </div>
    <div class="form-field">
      <label for="password">Mot de Passe:</label>
      <input type="password" id="password" formControlName="password" placeholder="Enter password">
    </div>
    <div class="form-field">
      <label for="role">Role:</label>
      <select id="role" formControlName="role">
        <option value="admin">Administrateur</option>
        <option value="official">Fonctionnaire</option>
      </select>
    </div>
    <button type="submit" class="btn btn-submit">Ajouter</button>
  </form>
</div>

</body>
</html>
